<div class="container-data" ng-init="key.init()">
  <div class="key-box">
    <label class="key-lb">Private Key</label><br/>
    <textarea class="key-container" rows="15" cols="65" ng-model="key.clientPrivatekey">
    </textarea>
    <br>
    <label class="key-lb">Public Key</label><br/>
    <textarea class="key-container" rows="13" cols="65" ng-model="key.clientPublickey">
    </textarea>
    <div class="key-save-btn" ng-click="key.setKey(); key.Redirect('/')">save</div>
    <div class="key-cancel-btn" ng-click="key.Redirect('/')">go back</div>
  </div>

</div>
