<div class="container-data" ng-init="login.init()">
    <div class="key-btn" ng-click="login.Redirect('/key')">change client RSA key</div>
    <form name="userForm" ng-submit="login.submitForm(userForm.$valid)">
      <div class="box">
        <h1>Login</h1>
        <input type="text" name="username" class="username" value="" placeholder="username" ng-model="login.user" ng-focus="login.clearErrorMessage()">
        <input type="password" name="password" class="password"  value="" placeholder="password" ng-model="login.password" ng-focus="login.clearErrorMessage()"/>
        <input ng-show="login.newUser" type="password" name="password" class="password"  value="" placeholder="retype password" ng-model="login.password_retype" ng-focus="login.clearErrorMessage()"/>
        <hr ng-if="login.captcha" class="hr-login" >
        <img ng-if="login.captcha" class="captcha" data-ng-src="data:image/png;base64,{{login.captcha}}" />
        <input ng-if="login.captcha" type="text" name="captchaTxt"  class="captcha-inp" value="" placeholder="Type the charaters" ng-model="login.captcha_txt" >
        <div ng-show="login.error_message" class="warning" >{{login.error_message}}</div>
        <div ng-disabled="!login.signInValidation() || login.dataLoading"
             ng-class="{'btn-signin-disabled': (!login.signin_valid_form && !login.newUser) || login.dataLoading}" class="btn-signin" ng-click="login.signIn()">{{login.signin}}</div>
        <div ng-disabled="!login.signUpValidation() || login.dataLoading"
             ng-class="{'btn-signup-disabled': (!login.signup_valid_form && login.newUser) || login.dataLoading}" class="btn-signup" ng-click="login.signUp()">{{login.signup}}</div>
      </div>
    </form>
    <p>How to Create a Strong Password? <a ng-href="https://www.webroot.com/hk/en/home/resources/tips/getting-started/beginners-how-do-i-create-a-strong-password"><u style="color:#f1c40f;">Click Here!</u></a></p>
</div>
