.key-box{
    width:500px;
    margin: 0 auto 0 auto;
}

.key-lb{
  color:#2b2525;
  font-size:1em;
  font-weight:800;
  padding-right:370px;
}

.key-container{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  color:#2b2525;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin: 1%;
}
.key-save-btn{
  background:#4c4f79;
  width:125px;
  padding: 5px 3px;
  color:#2b2525;
  border-radius:4px;
  border: #2b2525 1px solid;
  font-weight:800;
  font-size:0.8em;
  cursor: pointer;
  float:right;
  margin:10px 5px;


}
.key-cancel-btn{
  background:#4c4f79;
  width:125px;
  padding: 5px 3px;
  color:#2b2525;
  border-radius:4px;
  border: #2b2525 1px solid;
  font-weight:800;
  font-size:0.8em;
  cursor: pointer;
  float:left;
  margin:10px 5px;

}
