body{
  font-family: 'Open Sans', sans-serif;
  background:#4c4f79;       // #3498db;
  margin: 0 auto 0 auto;
  width:100%;
  text-align:center;
  margin: 20px 0px 20px 0px;
}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  font-size:1.5em;
  color:#525252;
}

.key-btn{
  background:#4c4f79;
  width:125px;
  padding: 5px 3px;
  color:#3498db;
  border-radius:4px;
  border: #3498db 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
  cursor: pointer;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #2980b9 4px solid;
  margin-top: 2%;
}

.username{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin: 1%;
}


.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
  margin: 1%;
}


.captcha{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;

  width:267px;
  height: 60px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin: 01%;
}

.captcha-inp{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
  margin: 1%;
}

.hr-login{
  width:250px;
  margin-top:10%;
  margin-bottom:10%;
  border: 1px sans-serif #525252;
}

.warning {
  background:white;
  width:250px;
  color:rgba(255, 0, 0, 0.59);
  margin-top:10px;
  font-size:1em;
  margin-left:5%;
}
.btn-signin{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
  cursor: pointer;
}

.btn-signin:hover{
  background:#2CC06B;
}

.btn-signup{
  float:left;
  background:#3498db;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;

  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
  cursor: pointer;
}

.btn-signup-disabled{
  opacity: 0.5;
  pointer-events: none;
}

.btn-signin-disabled{
  opacity: 0.5;
  pointer-events: none;
}

.btn-signup:hover{
  background:#3594D2;
}

.btn-createuser{
  background: #f1c40f;
   width:250px;
   margin-left:25px;
   padding-top:5px;
   padding-bottom:5px;
   color:white;
   border-radius:4px;
   border: #c3aa48 1px solid;

   margin-top:20px;
   font-weight:800;
   font-size:0.8em;
   cursor: pointer;
}

.btn-createuser:hover{
background:#e9bf18;
}
